<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding text-center>
	<img src="assets/logo.jpg" padding-top>
  <form [formGroup]="loginForm">
    <ion-list>
    	<div>
    		<ion-item>
	    		<ion-label floating>Email</ion-label>
	    		<ion-input formControlName="email" [(ngModel)]="email" ></ion-input>
	    	</ion-item>
    	</div>
    	<div>
    		<ion-item>
	    		<ion-label floating>Contraseña</ion-label>
	    		<ion-input formControlName="password" type="password" [(ngModel)]="password" ></ion-input>
	    	</ion-item>
    	</div>
    </ion-list>

    <button ion-button round color="primary" (click)="login()" >Iniciar Sesión</button>
    <button ion-button round color="primary" outline (click)="lostPwd()" >Recuperar contraseña</button>
  </form>
</ion-content>