<!--
  Generated template for the LostpwdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding text-center>
	<img src="assets/logo.jpg" padding-top>
    <ion-list>
    	<ion-item>
	    	<ion-label floating>Email</ion-label>
	    	<ion-input  [(ngModel)]="email" ></ion-input>
	    </ion-item>

    </ion-list>

    <button ion-button round color="primary" (click)="lostpwd()" >Enviar</button>
</ion-content>
