<ion-header>
  <ion-navbar hideBackButton>
    <ion-title text-center>
      <img class="img" src="assets/logo.jpg" >
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding overflow-scroll="true" text-center>
	<p>Para visualizar el catalogo presione el boton.</p>
	<!-- <button ion-button color="secondary" (tap)="showPDF()">
		<ion-icon name="cloud-download" ios="ios-cloud-download" md="md-cloud-download" > </ion-icon>
		 Ver Archivo
	</button> -->
	<!-- <button ion-button full (click)="openLocalPdf()">Open Local PDF</button> -->
  	<button ion-button color="secondary" full (click)="downloadAndOpenPdf()"><ion-icon name="cloud-download" ios="ios-cloud-download" md="md-cloud-download" > </ion-icon>
		 Ver Archivo
	</button>
	<!-- <iframe src="assets/cencosud-2018.pdf" frameborder="0" width="100%" height="100%"></iframe> -->
</ion-content>
